* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #28a1f2;
}

#copyright {
  font-size: 16px;
  text-align: center;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
}

.related {
  list-style: none;
  margin-left: 0;
}

.main-header {
  background-color: #f2f2f2;
  padding: 20px 40px;
  margin-bottom: 60px;
}
.psot-image {
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

aside {
  background-color: #f2f2f2;
  border-top: 5px dashed #28a1f2;
  border-bottom: 5px dashed #28a1f2;
  padding: 50px 0;
  margin-bottom: 50px;
}

article {
  width: 800px;
  margin-bottom: 50px;
}

.post-header {
  margin-bottom: 40px;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  position: relative;
}

h2::first-letter {
  font-size: 55px;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: -25px;
  top: 0;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 25px;
}

ul,
ol {
  margin-left: 50px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

nav a {
  font-size: 18px;
  margin-right: 15px;
}

a:link {
  color: #05c07e;
  text-decoration: none;
}

a:visited {
  color: #05c07e;
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline orange;
}

a:active {
  color: gray;
}

button {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 80px;
  right: 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.related-author {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.main-content {
  display: flex;
  gap: 75px;
  align-items: start;
}

article {
  flex: 0 0 825px;
  margin-bottom: 0;
}
aside {
  flex: 0 0 300px;
}
